.box{
  min-width: 1200px;
  width: 1200px;
  height: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}
.box :where(.left, .right){

  height: 100%;
}
.left{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #323232;
  border-right: none;
  width: 60%;
}
.right{
  width: 40%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-right: 1px solid #000;
  border-left: none;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.preview-video{
  background-color: #434343;
  color: #fff;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
}
.content-course {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 30%;
  border-right: 1px solid #828282;
}
.content-course .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.top h5{
  margin: 0;
}
.content-course .bottom{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10px;
}
.price {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.price span.oficial-price{
  font-size: 1.5em;
}
.price span.price-dashed{
  font-size: .9rem;
  text-decoration: line-through;
}
.bottom .buttons{
  display: flex;
  align-items: center;
  gap: 20px;
}
.buttons button{
  padding: 10px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid transparent;
  transition: .3s;
}
.buttons .add-cart{
  background-color: #fff;
  color: #323232;
  border-radius: 6px;
  border-color: #434343;
}
.buttons .add-cart:hover{
  color: #fff;
  background-color: #323232;
}
.buttons .buy{
  width: 150px;
  text-transform: uppercase;
  background-color: #5F00E3;
  color: #fff;
  border-radius: 6px;
}
.buttons .buy:hover{
  background-color: #4b02b1;
}
.right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.right .title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h3{
  padding-bottom: 20px;
  font-size: 1.5em;
  border-bottom: 1px solid #666666;
}
.details-course{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 60%;
}
